.a {
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;
    margin: auto;
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
  .a:hover {
    color: transparent;
    transition: 500ms ease;
  }
  .navbar{
    background: linear-gradient(180deg, rgb(238, 177, 177), rgb(231, 192, 120), rgb(226, 226, 155), rgb(183, 247, 183), rgb(164, 164, 250), rgb(250, 164, 250));
    
    height: 140px;
    margin: 0;
    min-width: 100%;
    padding-top: 0px;
    margin-top: 0px;
  }
  .logo{
    border-radius: 50%;
    height: 140px;
    margin-left: 20px;
  }
  